[submodule "clan"]
	path = clan
	url = https://github.com/periscop/clan.git
[submodule "cloog"]
	path = cloog
	url = https://repo.or.cz/cloog.git
[submodule "barvinok"]
	path = barvinok
	url = https://repo.or.cz/barvinok.git
[submodule "ntl"]
	path = ntl
	url = https://github.com/libntl/ntl.git
